<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ver Detalles Post</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>	
	<div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
	<div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
	<h2 class='text-center'> DETALLES DEL POST</h2>
	
	<div class="d-flex mt-5 justify-content-center">
	
		<div class="card text-center" style="width: 60%;">
		<div th:if="${post.image != null}">
		  	<img th:src="@{'/images/'}  + ${post.image}" alt="Imagen del Post" style="width:20%" class="mx-auto d-block img-fluid"/>
		 </div> 
		 <div class="card-body">
		    <h5 class="card-title" th:text="${post.title}"></h5>
		    <p class="card-text" th:text="'Creado el ' + ${#dates.format(post.creationDate, 'dd/MM/yyyy')}"></p>
		    <p class="card-text" th:text="'Categoría: ' +${post.category}"></p>
		    <p class="card-text" th:text="${post.body}"></p>
		    <a th:href="@{/home}" class="btn btn-primary">Regresar</a>
		 </div>
	</div>
	
</body>
</html>